.gradient {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.1) 10%,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 10%,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0.8) 100%
    );
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.background {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/530fc327-2ddb-4038-a3f0-2da2d9ccede1/6df01d4b-de02-4e92-9faa-159d4d5fa06d/CO-es-20230619-popsignuptwoweeks-perspective_alpha_website_small.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 90vh;
width: 100%;
position: absolute;
}
@media (min-width: 640px) {
  .background {
background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/530fc327-2ddb-4038-a3f0-2da2d9ccede1/6df01d4b-de02-4e92-9faa-159d4d5fa06d/CO-es-20230619-popsignuptwoweeks-perspective_alpha_website_large.jpg");
 background-size: 220%;
 height: 100vh;
}
}
