.background{
background-image: url("https://occ-0-2612-3934.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABZLQVzcWqbUtpti2-xKhnQHYAh6Pbqr5eKkkyiofZICrrgXNRBmtIyrAhRIoL1Wb4zQlwlf80w2MYdz3-J2Lu5AX0WcJSjvEzgzB.webp?r=244");
background-repeat: no-repeat;
background-size: cover;
}