@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "netflixFont";
  src: url("../public/fonts/NetflixSans-Bold.otf") format("otf");
}
#root {
  min-height: 100vh;
  height: 100%;
  position: relative;
}
body {
  position: relative;
  min-height: 100vh;
  font-weight: 500;
  position: relative;
  @apply font-netflix;
}

.fullCenter {
  @apply flex flex-col justify-center items-center;
}
